name: Deploy to WP Engine Staging

on:
  push:
    branches:
      - develop
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to WP Engine
        uses: wpengine/github-action-wpe-site-deploy@v3
        with:
          WPE_SSHG_KEY_PRIVATE: ${{ secrets.WPE_SSHG_KEY_PRIVATE }}
          WPE_ENV: gascoignecostg
          SRC_PATH: ./
          REMOTE_PATH: wp-content/themes/gascoigne-2014/
          FLAGS: -azvr --inplace --delete --exclude=".*" --exclude="node_modules/" --exclude="less/" --exclude="scss/" --exclude="*.md" --exclude="package*.json" --exclude="gulpfile.js"
          PHP_LINT: FALSE
          CACHE_CLEAR: FALSE
